%body{"data-animation-in" => "fadeIn", "data-animation-out" => "fadeOut", "data-icon" => "2", "data-icon-color" => "#072a16", "data-speed-in" => "1000", "data-speed-out" => "1000"}
  .body-inner  
    - if current_page?(root_path)
      = render 'shared/header'
    - elsif current_page?(about_index_path)
      = render 'shared/header_fixed'
    - elsif current_page?(international_index_path)
      = render 'shared/header'
    - elsif current_page?(contact_index_path)
      = render 'shared/header'
    - else
      = render 'shared/header_parallax'
    = yield
    - if not(current_page?(about_index_path))
      = render 'shared/footer'
  = render 'shared/scrolltop'
  / Scroll top
  %a#scrollTop
    %i.icon-chevron-up
    %i.icon-chevron-up
  / JQuery
  %script{:src => "/js/jquery.js"}
  / Plugins
  %script{:src => "/js/plugins.js"}
  / Template functions
  %script{:src => "/js/functions.js"}
  / Google Maps files
  %script{:src => "//maps.googleapis.com/maps/api/js?key=AIzaSyCP3qbTkyitzTqoOqGWXZ7TXHBoqeXYfvo", :type => "text/javascript"}
  %script{:src => "/plugins/gmap3/gmap3.min.js", :type => "text/javascript"}
  %script{:src => "/plugins/gmap3/map-styles.js", :type => "text/javascript"}


